<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Calcular IMC</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <!-- style css -->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  </head>

  <!-- NAVBAR -->
  <div class="container-fluid fixed-top">
    <div class="row">
    <div style="background-color: #C1FF72;" class="col p-0"></div>
    <div class="col-10 p-0">
  <nav class=" position relative navbar navbar-expand-lg bg-body-tertiary p-0 ">
    <div class=" container-fluid custom-navbar">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <div  class="collapse navbar-collapse nav-txt" id="navbarNav">
        
        <ul class="navbar-nav">
          <li class=" nav-item">
            <a class="nav-link " aria-current="page" href="/">Saúde24h</a>
          </li>
          <li class=" nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <div  class="collapse navbar-collapse nav-txt" id="navbarNav">
          <li  class="nav-item ">
            <a class="nav-link" href="imc">Calculadora IMC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="agua">Calculadora Água</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="atividade"  >Dicas</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
</div>
<div style="background-color: #C1FF72;" class="col p-0"></div>
</div>
</div>





  <!-- GERAL -->
  <div class="container-fluid">
    <div class="row">
    <div class="col p-0"></div>
    <div class="col-10 p-0">
      
  <body>
    <!-- Bootstrap js -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

        
        
     
    {% block content %}{% endblock %}




  
</div>
<div class="col p-0"></div>
</div>
</div>
</html>
   
</body>

  <!-- Footer -->
  <footer class="text-center  pt-3">
    <div class="container">
      <div class="row">
        <div class="col p-0">
          <p>© 2023 24h Saudável. Todos os direitos reservados.</p>
        </div>
      </div>
    </div>
  </footer>

  
