{% extends 'base.html' %}{% block content %}

<div class="card mx-auto mb-3 mt-5" style="max-width: 50%;" >
  <img
    src="{{url_for('static', filename='img/img_2.png')}}"
    class="card-img-top"
    alt="Fundo IMC"/>

  <div class="card p-4">
    <h2 class="text-center mb-4">Calculadora de IMC</h2>
    <form action="/calcular" method="post">
        <div class="mb-3">
            <label for="altura" class="form-label">Altura (m):</label>
            <input type="text" class="form-control" id="altura" name="altura" required>
        </div>
        <div class="mb-3">
            <label for="peso" class="form-label">Peso (kg):</label>
            <input type="text" class="form-control" id="peso" name="peso" required>
        </div>
        <div class="mb-3">
            <label for="resultado" class="form-label">Resultado:</label>
            <input type="text" class="form-control" id="resultado" name="resultado" readonly value="{{ resultado }}">
        </div>
        <button type="submit" class="btn btn-primary">Calcular IMC</button>
    </form>
</div>
</div>
  
  

{% endblock %}
