{% extends 'base.html' %}{% block content %}

    <!-- Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{url_for('static', filename='img/page_1.png')}}"  class="d-block w-100" alt="Atividade Física"/>
          <div class="carousel-caption custom-caption">
          <h5>Saúde, Bem-Estar, Transformação</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{{url_for('static', filename='img/page_2.png')}}"  class="d-block w-100" alt="IMC"/>
          <div class="carousel-caption custom-caption">
            <h5>Descubra agora mesmo o seu IMC!</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{{url_for('static', filename='img/page_3.png')}}"  class="d-block w-100" alt="Hidratação" />
          <div class="carousel-caption custom-caption">
            <h5>Você já bebeu Água hoje?</h5>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- Card -->
    <div class="row row-cols-1 row-cols-md-3 g-4 col-11 m-auto">  
      <div class="col">
        <!-- Modal 1 -->
        <div class="card h-100">
          <img src="{{url_for('static', filename='img/img_1.png')}}" class="card-img-top" alt="AtividadesFísicas" />
          <div class="card-body">
            <h5 class="card-title"> Atividades Físicas</h5>
            <p class="card-text">
              A prática regular de atividades físicas traz diversos benefícios para o corpo e a mente.</p>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              Saiba mais
            </button>
            <a href="atividade" class="btn btn-primary">Dicas de Exercícios</a>

            <!-- Modal 1 -->
            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Atividades Físicas
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <h6>Benefícios das Atividades Físicas</h6>
                    <p>A prática regular de atividades físicas melhora a saúde cardiovascular, fortalece os músculos, ajuda no controle do peso e promove o bem-estar mental</p>
                    <h6>Como Começar?</h6>
                    <p>
                      - Escolha atividades que você goste, como caminhadas, musculação, natação ou dança.<br>
                      - Estabeleça metas realistas e crie um plano de exercícios.<br>
                      - Comece devagar e aumente a intensidade gradualmente.<br>
                      - Faça exercícios com regularidade, pelo menos 3-4 vezes por semana.<br>
                    </p>
                    <h6>Dicas para se Manter Ativo</h6>
                    <p>
                      - Envolva-se em atividades sociais, como aulas em grupo ou esportes em equipe.<br>
                      - Varie seus exercícios para evitar o tédio.<br>
                      - Use aplicativos de fitness para acompanhar seu progresso.<br>
                      - Não se esqueça do aquecimento e do alongamento antes e após os exercícios.<br>
                    </p>

                    <h6>Links úteis</h6>
                    <p>
                      Para obter mais informações sobre atividades físicas e exercícios, confira os seguintes recursos:<br>
                      - <a href="https://www.minhavida.com.br/fitness" target="_blank">Minha Vida - Fitness e Exercícios</a><br>
                      - <a href="https://www.who.int/dietphysicalactivity/physical-activity-recommendations-18-64years.pdf" target="_blank">Recomendações da OMS para Atividades Físicas</a>
                  </p>

                 </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal">
                      Fechar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal 2 -->
      <div class="col"> 
        <div class="card h-100">
          <img src="{{url_for('static', filename='img/img_2.png')}}" class="card-img-top" alt="Calculadora IMC" >
          <div class="card-body">
            <h5 class="card-title">Calculadora IMC</h5>
            <p class="card-text">O Índice de Massa Corporal (IMC) é uma medida que avalia se você está dentro de um peso saudável para sua altura.</p>
            <!-- Botão para abrir o Modal 2 da Água -->
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#modalAgua"
            >
              Saiba mais
            </button>
            <a href="/imc" class="btn btn-primary">Calcular IMC</a>

            <!-- Modal 2 -->
            <div
              class="modal fade"
              id="modalAgua"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                        Calculadora IMC
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <h6>Índice de Massa Corporal (IMC)</h6>
                    <p> O Índice de Massa Corporal (IMC) é uma medida que utiliza a altura e o peso de uma pessoa para avaliar se ela está em um peso saudável. É amplamente usado como um indicador geral de obesidade ou magreza em adultos.</p>
                    <h6>Como calcular o IMC?</h6>
                    <p>
                      O IMC é calculado dividindo o peso (em quilogramas) pela altura (em metros) ao quadrado. A fórmula é: IMC = peso / ( altura )<sup>2</sup>.
                    </p>
                    <h6>O que o IMC indica?</h6>
                    <p>
                      - IMC abaixo de 18,5: Abaixo do peso<br>
                      - IMC entre 18,5 e 24,9: Peso normal<br>
                      - IMC entre 25,0 e 29,9: Sobrepeso<br>
                      - IMC acima de 30,0: Obesidade
                    </p>
                    <h6>Importância do IMC</h6>
                    <p>
                      Manter um IMC saudável está relacionado a um menor risco de várias condições de saúde, incluindo diabetes tipo 2, doenças cardíacas e certos tipos de câncer.
                    </p>
                    <h6>Links úteis</h6>
                    <p>
                    Para saber mais sobre o IMC e como manter uma vida saudável, confira os seguintes recursos:<br>
                    - <a href="https://www.saude.gov.br/saude-de-a-z/indice-de-massa-corporal-imc" target="_blank">Ministério da Saúde - IMC</a><br>
                    - <a href="https://www.abeso.org.br/" target="_blank">ABESO - Associação Brasileira para Estudo da Obesidade e da Síndrome Metabólica</a>
                    </p>
                 </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal">
                      Fechar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

       <!-- modal 3 -->
      <div class="col">
        <div class="card h-100">
          <img src="{{url_for('static', filename='img/img_3.png')}}" class="card-img-top" alt="Atividades Físicas" />
          <div class="card-body">
            <h5 class="card-title">Importância da Água</h5>
            <p class="card-text">
              Auxilia na digestão, hidrata a pele, transporta nutrientes, regula o equilíbrio de fluidos e lubrifica articulações. 
            </p>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#modalAtividades">
              Saiba mais
            </button>
            <a href="agua" class="btn btn-primary">Calcular Ingestão diária</a>

             <!-- Modal 3 -->
            <div
             class="modal fade"
             id="modalAtividades"
             tabindex="-1"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
             <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Importância da Água
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <h6>Por que a Água é Importante?</h6>
                    <p>A água é essencial para a vida. Ela desempenha um papel crucial em nosso corpo, mantendo nossos órgãos funcionando, regulando a temperatura corporal e ajudando na digestão dos alimentos.
                    </p>
                    <h6>Como se manter hidratado?</h6>
                    <p>
                      - Beba pelo menos 2 litros de água por dia.<br>
                      - Consuma alimentos ricos em água, como frutas e vegetais.<br>
                      - Evite bebidas açucaradas e cafeinadas.<br>
                      - Estabeleça lembretes regulares para beber água.<br>
                    </p>
                    <h6>Quanto de água devo beber?</h6>
                    <p>
                      A quantidade recomendada de água pode variar de pessoa para pessoa, mas um guia geral é beber pelo menos 2 litros de água por dia. Isso pode variar dependendo do peso, atividade física e clima.
                    </p>
                    <h6>Como calcular a sua ingestão diária de Água?</h6>
                    <p>
                      - Peso (em kg) x 35 ml = Quantidade diária recomendada em mililitros.
                    </p>
               </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal">
                    Fechar
                  </button>
                </div>
              </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <hr>

    <!-- text 1 -->
    <div class="container mt-5">
        <h2 class="text-center mb-4">Dicas de Estilo de Vida Saudável</h2>
    
        <div class="row">
            <div class="col-md-6">
                <h5>1. Alimentação Balanceada:</h5>
                <p>
                    Priorize Frutas, vegetais, grãos integrais e proteínas magras. Evite alimentos processados e açúcares refinados.
                </p>
            </div>
            <div class="col-md-6">
                <h5>2. Exercícios Regulares:</h5>
                <p>
                    Faça atividades físicas regularmente. Caminhada, corrida, yoga ou qualquer outra atividade que você goste.
                </p>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-6">
                <h5>3. Hidratação Adequada:</h5>
                <p>
                    Beba pelo menos 2 litros de água por dia. A água é essencial para manter seu corpo hidratado e ajudar na digestão.
                </p>
            </div>
            <div class="col-md-6">
                <h5>4. Descanso e Sono:</h5>
                <p>
                    Priorize o sono adequado. Estabeleça uma rotina de sono regular para garantir que seu corpo descanse e se recupere completamente.
                </p>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-6">
                <h5>5. Gerenciamento do Estresse:</h5>
                <p>
                    Técnicas como meditação, respiração profunda ou hobbies relaxantes, para aliviar o estresse crônico e melhorar seu bem-estar.
                </p>
            </div>
            <div class="col-md-6">
                <h5>6. Evite Substâncias Nocivas:</h5>
                <p>
                    Evite o consumo excessivo de álcool e evite o tabagismo. Essas substâncias podem prejudicar sua saúde a longo prazo.
                </p>
            </div>
        </div>
    </div>

    <!-- Contact -->
<div class="col-11 m-auto" id="contato">
    <h2 class="text-center">Contato</h2>
    <form>
        <div class="mb-3">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" class="form-control" id="nome" placeholder="Seu nome">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Seu email">
        </div>
        <div class="mb-3">
            <label for="mensagem" class="form-label">Feedback:</label>
            <textarea class="form-control" id="mensagem" rows="4" placeholder="Se você tem algum feedback ou sugestão, por favor, compartilhe conosco."></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

{% endblock %}