/* navbar ----------------*/

.custom-navbar{
    background-color: #f7f6f6

}

.nav-logo{
  color:rgb(104, 105, 151);
  font-weight: bold;
  font-size: 2.7vh;

}

.nav-options{
    font-size: 2.4vh;
   
}

/* ---------------------- */


.icones{
    font-size: 150px;
    width: 150px;
}

footer{
    background-color: #f7f6f6;
}

footer p{
  padding: 1vh;
  

}

/* texto do carrosel  ------------*/
.custom-caption {
    display: flex;
    color: black;
    text-align: left;
    top: 45%;
    width: 70%;
    left: 22%;
  }
  
  .custom-caption h5 {
    font-size: 4vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: bold; 
  }
  
  .saída {
    display: flex;
    justify-content: space-between;
  }

  
  @media (max-width: 1000px) { 
    .custom-caption{
      display: none;
    }
   }