/* NAVBAR */
.custom-navbar {
  background-color: #C1FF72;
}

.nav-txt{
display: flex;
  font-size: 2.1vh;
  justify-content: center;
  color: black;
 
  
}

/* texto 1 + img */
.position-relative p{
  max-width: 60%;
  font-size: 4vh;

}

.txt-align{
  margin-top: -5%;
}



/* CARD */


.card_box {
  display: flex;
  font-size: 90%;
  justify-content: space-between;
}





/* GERAL */
.back-all {
  /* background-color: #edeff7; */
  font-size: 2.2vh;
  font-weight: 300;
}

.back-all h2{
  font-size: 5vh;
 
}



/* rodapé */

footer{
  background-color: #C1FF72;
}

footer p {
  padding: 1vh;
}

/* texto img 1  ------------*/
.custom-caption {
  display: flex;
  color: black;
  text-align: left;
  top: 45%;
  width: 70%;
  left: 22%;
}

.custom-caption h5 {
  font-size: 4vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.saída {
  display: flex;
  justify-content: space-between;
}

/* media */
@media (max-width: 1000px) {
  .txt-align {
    display: none;
  }
}
